show coni
                       ^
syntax error, expecting <command>.
admin@VSRX22.4-1> show coni         nfiguration | no-more 
## Last commit: 2024-05-12 01:30:29 UTC by admin
version 22.4R2.8;
system {
    host-name VSRX22.4-1;
    root-authentication {
        encrypted-password "$6$qbY7tfkF$RhKAcIUqOzBVp.xeeCTI/zNekJLLsRPtZdJCyzKpLPTNk0SpyYgco7aUgPH1gIuYTVbQ6GEzGhnGbRhrqHgfH0"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$oYsj37UD$W0vgo4s/aKuScFZpS7loK419iokghfza0Lnm68uvyl/yTdD17z7pj9CMcj.6SOSzo154Pe5p9hFouTu.DhgdO."; ## SECRET-DATA
            }
        }
    }
    services {
        ssh;
        web-management {
            http {
                interface fxp0.0;
            }
        }
    }
    syslog {
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any any;
            authorization info;
        }
    }
    license {
        autoupdate {
            url https://ae1.juniper.net/junos/key_retrieval;
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family iso;
            family inet6 {
                address 2001:1:1:1::100/64;
                address fe80::100/64;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family iso;
            family inet6 {
                address 2001:1:1:99::1/64;
                address fe80::1/64;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                dhcp;
            }
        }
    }
    lo0 {
        unit 0 {
            family iso {
                address 49.0001.1921.6800.0002.00;
            }
            family inet6 {
                address 2001:10:10:10::10/64;
            }
        }
    }
}
protocols {
    router-advertisement {
        interface ge-0/0/1.0 {
            max-advertisement-interval 30;
            min-advertisement-interval 10;
            prefix 2001:1:1:99::/64;
        }
    }
    isis {
        interface ge-0/0/0.0 {
            level 2 disable;
        }
        interface ge-0/0/1.0 {
            level 2 disable;
        }
        interface lo0.0;
    }
}
routing-options {
    router-id 192.168.0.2;
}

admin@VSRX22.4-1> admin@VSRX22.4-1> show configuration | no-more    | display set 
set version 22.4R2.8
set system host-name VSRX22.4-1
set system root-authentication encrypted-password "$6$qbY7tfkF$RhKAcIUqOzBVp.xeeCTI/zNekJLLsRPtZdJCyzKpLPTNk0SpyYgco7aUgPH1gIuYTVbQ6GEzGhnGbRhrqHgfH0"
set system login user admin uid 2000
set system login user admin class super-user
set system login user admin authentication encrypted-password "$6$oYsj37UD$W0vgo4s/aKuScFZpS7loK419iokghfza0Lnm68uvyl/yTdD17z7pj9CMcj.6SOSzo154Pe5p9hFouTu.DhgdO."
set system services ssh
set system services web-management http interface fxp0.0
set system syslog file interactive-commands interactive-commands any
set system syslog file messages any any
set system syslog file messages authorization info
set system license autoupdate url https://ae1.juniper.net/junos/key_retrieval
set security forwarding-options family inet6 mode packet-based
set security forwarding-options family iso mode packet-based
set interfaces ge-0/0/0 unit 0 family iso
set interfaces ge-0/0/0 unit 0 family inet6 address 2001:1:1:1::100/64
set interfaces ge-0/0/0 unit 0 family inet6 address fe80::100/64
set interfaces ge-0/0/1 unit 0 family iso
set interfaces ge-0/0/1 unit 0 family inet6 address 2001:1:1:99::1/64
set interfaces ge-0/0/1 unit 0 family inet6 address fe80::1/64
set interfaces fxp0 unit 0 family inet dhcp
set interfaces lo0 unit 0 family iso address 49.0001.1921.6800.0002.00
set interfaces lo0 unit 0 family inet6 address 2001:10:10:10::10/64
set protocols router-advertisement interface ge-0/0/1.0 max-advertisement-interval 30
set protocols router-advertisement interface ge-0/0/1.0 min-advertisement-interval 10
set protocols router-advertisement interface ge-0/0/1.0 prefix 2001:1:1:99::/64
set protocols isis interface ge-0/0/0.0 level 2 disable
set protocols isis interface ge-0/0/1.0 level 2 disable
set protocols isis interface lo0.0
set routing-options router-id 192.168.0.2

admin@VSRX22.4-1> 